.login_form {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0px 0px 3px 0.5px rgb(150, 149, 149);
}

.my_form {
  position: relative;
  padding: 20px;
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* background-color: red; */
}
.my_form > div {
  width: 100%;
  height: 30px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}
.my_form > div > input {
  width: 100%;
  height: 100%;
  /* margin:5px; */
  border: 1px solid rgb(190, 189, 189);
  outline: none;
  font-weight: 500;
  padding: 0px 10px;
}
.my_form > div > select {
  width: 105%;
  height: 30px;
  color: rgb(80, 79, 79);
  padding: 0px 10px;
  outline: none;
  font-weight: 500;
  border: 1px solid rgb(190, 189, 189);
}
input[type="submit"] {
  width: 180px !important;
  height: 40px !important;
  background-color: rgb(147, 212, 255);
}
input[type="submit"]:hover {
  filter: opacity(0.9);
}
.botton {
  margin-top: 20px;
}

.home {
  width: 100%;
  height: 85vh;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  overflow-y: scroll;
}
.home::-webkit-scrollbar {
  display: none;
}
table {
  /* width:80%; */
  margin-top: 20px;
}
th {
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  min-width: 140px;
  width: 100%;
}
tr {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(206, 206, 206);
  padding: 5px 15px;
  background-color: #fff;
  box-shadow: 0px 0px 2px 2px rgb(238, 236, 236);
}
td {
  min-width: 140px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 30px;
}

nav {
  width: 100%;
  height: 80px;
  background-color: rgb(49, 49, 49);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  margin-left: 20px;
}
.heading {
  text-decoration: none;
  color: #fff;
}
.menu_sec {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu_sec > div {
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn {
  text-decoration: none;
  background-color: rgb(255, 255, 255);
  color: rgb(143, 127, 127);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 35px;
  border-radius: 3px;
}
.btn:hover {
  /* filter: opacity(0.9); */
  cursor: pointer;
  box-shadow: 0px 0px 1px 1px wheat;
}

.forgetpass {
  text-decoration: none;
  margin-left: 40px;
  margin-top: 10px;
}
.hero_section {
  height: 80vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logout {
  background-color: rgb(247, 8, 119) !important;
  color: #fff;
}
.login {
  background-color: rgb(6, 112, 252);
  color: #fff;
}

.error {
  background-color: rgb(250, 191, 169) !important;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
}
.error > p {
  color: black;
  z-index: 999;
}
.succ {
  background-color: rgb(60, 250, 177) !important;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
}
.succ > p {
  color: black;
  z-index: 999;
}
